.head {
    border: 1px solid;
    border-radius: 15px;
    box-shadow: 10px 10px 10px 10px whitesmoke;
    padding: 3% !important;
    width: 82%;
    margin-left: auto;
    margin-right: auto;
}

.back {
    background-image: url("../../../assets/food\ 2.jpg");
    background-size: 98% 102%;
    background-repeat: no-repeat;
    color: white;
    margin-top: 2%;
}

h2 {
    background-color: yellow;
    padding-left: 21%;
    padding-bottom: 10%;
    padding-top: 10%;
    font-size: 300%;
}

.first {
    background-image: url("../../../assets/food.jpg");
    background-repeat: no-repeat;
}

.last {
    background-image: url("../../../assets/background.jpg");
    background-repeat: no-repeat;
    background-size: 110% 95%;
    margin-top: 17%;
}

.body {
    text-align: center;
    background-image: url("../../../assets/36food.jpg");
    background-size: 150% 100%;
    background-repeat: no-repeat;
    color: white;
}

.online {
    text-align: center;
    color: orangered;
}

.one {
    background-color: orange;
    color: white;
    margin-top: 13%;
    margin-bottom: 10%;
    padding-top: 5%;
}

.two {
    background-color: white;
    color: black;
    margin-top: 13%;
    margin-bottom: 10%;
    padding-top: 5%;
    border-left: 2%;
}

.three {
    background-color: orange;
    color: white;
    margin-top: 13%;
    margin-bottom: 10%;
    padding-top: 5%;
}

.asian {
    background-color: orangered;
    padding-top: 5%;
    text-align: right;
}

.food {
    background-color: white;
    padding-top: 5%;
}

.center {
    background-color: rgb(200, 255, 0);
    text-align: center;
    margin-top: 6%;
    color: black;
}

.list {
    background-color: orange;
    text-align: center;
    color: white;
    padding-top: 3%;
}

.juice {
    text-align: center;
    background-color: yellow;
    padding-top: 1%;
}

.order {
    text-align: right;
    margin-top: 5%;
    margin-bottom: 5%;
}

.final {
    background-image: url("../../../assets/pizza\ background.jpg");
    background-size: 98% 102%;
    background-repeat: no-repeat;
    color: white;
    margin-top: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 4%;
}

.contact {
    margin-left: 2%;
}

.blue {
    font-size: 200%;
    padding-left: 3%;
}

.ice {
    text-align: center;
    background-color: rgb(200, 255, 0);
    color: white;
}