<div class="row head">
    <div class="col-md-12 back">
        <div class="col-md-6 mt-5">
            <h1>{{restaurantName}}</h1>
            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Perferendis amet necessitatibus corrupti totam qui harum at aliquid
                ullam eligendi alias! Exercitationem eveniet dignissimos dolor neque
                aliquam in,qui explicabo molestias.</P>
            <button type="button" class="btn btn-info mt-4 mb-3">View More...</button>
        </div>
    </div>
    <hr>
    <!-- MENU -->
    <div class="row">
        <div class="col-md-4 first"></div>
        <div class="col-md-4">
            <h2>Menu</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Tempore, vitae. Rerum, quibusdam tempore illum atque tenetur nulla,
                corrupti quas ullam exercitationem labore blanditiis nobis
                quae consequatur, fugiat obcaecati magni ea.</p>
        </div>
        <div class="col-md-4 last"></div>
    </div>
    <hr>
    <!-- LEARN COOKING ONLINE -->
    <div class="row">
        <div class="col-md-12 online">
            <h3>Learn Cooking Online</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dolore aliquam quo odit officiis
                accusantium? Earum possimus tenetur cupiditate cum ab amet,
                consequatur praesentium, magni blanditiis sapiente, doloremque quis officia. </p>
        </div>
    </div>
    <div class="row body">
        <div class="col-md-4 one">
            <h1>Meat</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure nesciunt quidem explicabo commodi
            </p>
        </div>
        <div class="col-md-4 two">
            <h1>Fish</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing animi pariatur veniam.</p>
        </div>
        <div class="col-md-4 three">
            <h1>Egg</h1>
            <p>Lorem ipsum dolor, sit amet consectetur earum ut voluptates.</p>
        </div>
    </div>
    <hr>
    <!-- asian food -->
    <div class="row">

        <div class="col-md-6 asian">
            <h1>Asian</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis ipsam laborum dolorum magnam sint.</p>
        </div>
        <div class="col-md-6 food">
            <h1>Food</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis ipsam laborum dolorum magnam sint.</p>
        </div>
        <div class="col-md-4 mt-3">
            <img src="../../../assets/asian.webp" alt="picture not available" height="110%" width="100%">
        </div>
        <div class="col-md-4 mt-3">
            <img src="../../../assets/asian food.jpg" alt="picture not available" height="110%" width="100%">
        </div>
        <div class="col-md-4 mt-3">
            <img src="../../../assets/biriyani.avif" alt="picture not available" height="110%" width="100%">
        </div>
    </div>

    <!-- meat and fish -->
    <div class="row">
        <div class="col-md-5 mt-5">
            <img src="../../../assets/barger.jpg" alt="picture not available" height="100%" width="100%">
        </div>
        <div class="col-md-2 center">
            <p>M F</p>
            <p>E I</p>
            <p>A S</p>
            <p>T H</p>
            <p>AND</p>
        </div>
        <div class="col-md-5 mt-5">
            <img src="../../../assets/fish.jpg" alt="picture not available" height="100%" width="100%">
        </div>
    </div>
    <!-- veg,non-veg -->
    <div class="row mt-5">
        <div class="col-md-4">
            <img src="../../../assets/chicken.jpg" alt="picture not available" height="100%" width="100%">
        </div>
        <div class="col-md-4 list">
            <h3>VEG</h3>
            <h4>AND</h4>
            <h3>NON-VEG</h3>
        </div>
        <div class="col-md-4">
            <img src="../../../assets/vegetables.jpg" alt="picture not available" height="100%" width="100%">
        </div>
        <div class="col-md-6 mt-4">
            <img src="../../../assets/b..food.jpg" alt="picture not available" height="100%" width="100%">
        </div>
        <div class="col-md-6 mt-4">
            <img src="../../../assets/shawarma.jpg" alt="picture not available" height="100%" width="100%">
        </div>
    </div>
   <!-- fresh juice -->
    <div class="row">
        <div class="col-md-4 mt-3">
            <img src="../../../assets/24fresh.jpg" alt="picture not available" height="100%" width="100%">
        </div>
        <div class="col-md-8 mt-3">
            <img src="../../../assets/juice-animation.webp" alt="picture not available" height="100%" width="100%">
        </div>
        <div class="row">
            <div class="col-md-12 juice">
                <h1>FRESH JUICE LIST</h1>
            </div>
            <div class="col-md-6 mt-3">
                <img src="../../../assets/240_F-3.jpg" alt="picture not available" height="100%" width="100%">
            </div>
            <div class="col-md-6 mt-3">
                <img src="../../../assets/240_F_2.jpg" alt="picture not available" height="100%" width="100%">
            </div>
            <div class="col-md-6 mt-3">
                <img src="../../../assets/mango.jpg" alt="picture not available" height="100%" width="100%">
            </div>
            <div class="col-md-6 mt-4">
                <img src="../../../assets/juice-3.jpg" alt="picture not available" height="95%" width="100%">
            </div>
            <div class="col-md-8 mt-3">
                <img src="../../../assets/juice.jpg" alt="picture not available" height="100%" width="100%">
            </div>
            <div class="col-md-4 mt-4">
                <img src="../../../assets/juice1.jpg" alt="picture not available" height="100%" width="100%">
            </div>
            <div class="col-md-4 mt-5">
                <img src="../../../assets/lemon juice.jpg" alt="picture not available" height="105%" width="105%">
            </div>
            <div class="col-md-8 mt-5">
                <img src="../../../assets/tang.jpg" alt="picture not available" height="100%" width="100%">
            </div>
            <div class="col-md-7 mt-4">
                <img src="../../../assets/sitcker.jpg" alt="picture not available" height="100%" width="100%">
            </div>
            <div class="col-md-5 mt-4">
                <img src="../../../assets/sitcker1.jpg" alt="picture not available" height="100%" width="100%">
            </div>
        </div>
    </div>
    <!-- ice cream -->
    <div class="row">
        <div class="col-md-12 mt-5 ice">
            <h1>ICE CREAM</h1>
        </div>
        <div class="col-md-6 mt-5">
            <img src="../../../assets/ice cream.webp" alt="picture not available" height="100%" width="100%">
        </div>
        <div class="col-md-6 mt-5">
            <img src="../../../assets/ice cream1.png" alt="picture not available" height="100%" width="100%">
        </div>
        <div class="col-md-6 mt-5">
            <img src="../../../assets/Ice-Cream-Flavors.jpg" alt="picture not available" height="100%" width="100%">
        </div>
        <div class="col-md-6 mt-5">
            <img src="../../../assets/kk-ice-cream.jpg" alt="picture not available" height="100%" width="100%">
        </div>
    </div>
    <!-- final -->
     <div class="row">
        <div class="col-md-12 final">
            <div class="col-md-12 contact">
                <h1>Contact :</h1>
            </div>
            <div class="row mt-3">
                <div class="col-md-1 blue">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>
                <div class="col-md-11">
                    <h4 class="color">Address</h4>
                    <p>Ekkatuthangal,Chennai.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 blue">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                </div>
                <div class="col-md-11">
                    <h4 class="color">Phone</h4>
                    <p>978-695-3264</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1 blue">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
                <div class="col-md-11">
                    <h4 class="color">Email</h4>
                    <p>jobithaantonyraj@gmail.com</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 order">
        <button type="button" class="btn btn-info">Your Order...</button>
    </div>
    <hr>
</div>