.head{
    text-align: center!important;
    color: black;
    margin-top: 30%;
}
.hello{
    background-color: #16f5b6bd;
}
.dd{
    font-size: 40px;
    margin-bottom: 5px;
    margin-top: 55%;
    color:white;
}
.two{
   
    font-size: 40px;
    margin-bottom: 5px;
    margin-top: 15%;
    color:white;
}
.one{
   font-size: 30px;
   margin-left: 15%;
   color:white; 
}
li{
    list-style-type: none;
}