.head{
    text-align: center!important;
    color: blueviolet;
    margin-top: 30%;
    
}
.hello{
    // background-color: #fc038c7d;
    background-image: linear-gradient(pink, #4FFFB0);
}
.first{
    height: 127%;
}
.dd{
    font-size: 35px;
    padding-left: 10%;
    margin-bottom: 5px;
    margin-top: 55%;
    color:white;
}
.two{
   
    font-size: 35px;
    padding-left: 10%;
    margin-bottom: 5px;
    margin-top: 15%;
    color:white;
}
.one{
   font-size: 30px;
   margin-left: 15%;
   color:black; 
}
li{
    list-style-type: none;
}