.body{
    background-color: #16f5b6bd;
}
.head{
    text-align: center;
    color: rgb(2, 10, 10);
    margin-top: 10%;
}
.one{
   margin-top: 5px;
   border-top: 5px;
   
}
.too{
    color:white
}
.firstcls{
    margin-top: 5%;
}