<div class="row firstcls">
    <div class="col-md-2"></div>
    <div class="col-md-8 body">
        <div class="head">
            <h1>MY SKILLS</h1>
        </div>
        <div class="row">
            <div class="col-md-1 mt-5">
                <div class="one">
                    <img src="../../../assets/html.jpg" alt="picture not available" height="50px" width="50px">
                    <img src="../../../assets/bootstrap-stack.png" alt="picture not available" height="50px"
                        width="50px">
                    <img src="../../../assets/angular.png" alt="picture not available" height="50px" width="50px">
                </div>
            </div>
            <div class="col-md-5 mt-5 too">
                <h1>Html</h1>
                <h1>Bootstrap</h1>
                <h1>Angular</h1>
            </div>      
            <div class="col-md-1 mt-5">
                <div class="one">
                    <img src="../../../assets/css.jpg" alt="picture not available" height="50px" width="50px">
                    <img src="../../../assets/JavaScript-logo.png" alt="picture not available" height="50px"
                        width="50px">
                    <img src="../../../assets/git.jpg" alt="picture not available" height="50px" width="50px">
                </div>
            </div>
            <div class="col-md-5 mt-5 too">
                <h1>Css</h1>
                <h1>JavaScript</h1>
                <h1>Git</h1>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>