<div class="row firstcls">
    <div class="col-md-2"></div>
    <div class="col-md-8 body">
        <div class="head">
            <h1>MY SKILLS</h1>
        </div>
        <div class="row">
            <div class="col-md-6 mt-5">
                <div class="one">
                    <div class="first2">
                        <img src="assets/html.jpg" alt="picture not available" height="50px" width="50px">
                        <span class="skillName">Html</span>
                        <br>
                    </div>
                    <div class="first2">
                        <img src="assets/bootstrap-stack.png" alt="picture not available" height="50px"
                            width="50px">
                        <span class="skillName">Bootstrap</span>
                        <br>
                    </div>
                    <div class="first2">
                        <img src="assets/angular.png" alt="picture not available" height="50px" width="50px">
                        <span class="skillName">Angular</span>
                     <br>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-5 ">
                <div class="one">
                    <div class="first2">
                        <img src="assets/css.jpg "  class="mr-3" alt="picture not available" height="50px" width="50px">
                        <span class="skillName">Css</span> 
                        <br>
                    </div>
                    <div class="first2">
                        <img src="assets/JavaScript-logo.png" alt="picture not available" height="50px"
                            width="50px">
                        <span class="skillName">JavaScript</span>
                        <br>
                    </div>
                    <div class="first2">
                        <img src="assets/git.jpg" alt="picture not available" height="50px" width="50px">
                        <span class="skillName">Git</span>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>