.head{
    text-align: center;
    color: aqua;
}
input{
border-top-style: hidden;
border-right-style: hidden;
border-left-style: hidden;
border-bottom-style: groove ;
width: 95%;
padding-top: 5%;
}
.one{
   margin-top: 5px;
   border-top: 5px; 
}