<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="head">
            <h1>MY SKILLS</h1>
        </div>
        <div class="row">
            <div class="col-md-1 mt-5">
                <div class="one">
                   <img src="../../../assets/html.jpg" alt="picture not available" height="70px" width="70px">
                   <img src="../../../assets/bootstrap-stack.png" alt="picture not available" height="70px" width="70px">
                   <img src="../../../assets/angular.png" alt="picture not available" height="70px" width="70px">
                </div>
            </div>
            <div class="col-md-5 mt-5">
                <label for="Html">Html</label>
                <br>
                <input type="text" value="">
                <br>
                <label for="Bootstrap">Bootstrap</label>
                <br>
                <input type="text" value="">
                <br>
                <label for="Angular">Angular </label>
                <br>
                <input type="text" value="">
                <br>
            </div>
            <div class="col-md-1 mt-5">
                <div class="one">
                   <img src="../../../assets/css.jpg" alt="picture not available" height="70px" width="70px">
                   <img src="../../../assets/JavaScript-logo.png" alt="picture not available" height="70px" width="70px">
                   <img src="../../../assets/git.jpg" alt="picture not available" height="70px" width="70px">
                </div>
            </div>
            <div class="col-md-5 mt-5">
                <label for="CSS">CSS</label>
                <br>
                <input type="text" value="">
                <br>
                <label for="JavaScript">JavaScript</label>
                <br>
                <input type="text" value="">
                <br>
                <label for="git">Git</label>
                <br>
                <input type="text" value="">
                <br>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>