.formClass{
    border: 1px solid;
    border-radius: 15px;
    box-shadow: 10px 10px 10px 10px whitesmoke;
    padding: 3% !important;
    width: 82%;
    margin-left: auto;
    margin-right: auto;
}
.iconcls{
    font-size: 250%;
    margin-top: 10%;
    color: rgb(0, 11, 109);
}
.head{
    font-size: 150%;
    margin-left: 3%;
    color: #3f51b5;
}
// p {
//     // font-size: 100%;
//     // margin-top: 0;
//     // margin-bottom: auto;
//     // margin-left: 20%;
// }
.first{
    margin-left: 20%;
    margin-top: 10%;
    color: #3f51b5;
}
.Basic{
    background-color: rgb(211, 216, 218);
    padding-right: 83%;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 5%;
  
}
.Academic{
background-color: rgb(211, 216, 218);
padding-right: 79%;
padding-left: 1%;
padding-top: 1%;
padding-bottom: 1%
}
.fcls{
    align-items: center;
}
.submit{
   text-align: right;
  
}