<div class="formClass">
    <!-- HEADING -->
    <div class="row">
        <div class="col-md-5">
            <i class="fa fa-graduation-cap iconcls"></i><span class="head">ACME CITY ,COLLEGE</span>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <div class="first">
                <h5>ACME CITY COLLEGE</h5>
            </div>
            <div class="second">
                <p>123 maple street,houston,TX,77002</p>
                <p>acmecity@gmil.com</p>
                <p>wwww.acmecity.com</p>
                <p>986-784-0251</p>
            </div>
        </div>
    </div>
    <hr>
    <!-- BODY -->
    <div class="row">
        <h2>STUDENT REGISTRATION FORM</h2>
        <div class="col-md-12 mt-1 mb-4">
            <span class="Basic">Basic Information</span>
        </div>
    </div>
    <!-- FULL NAME -->
    <div class="row">
        <h4>Full Name</h4>
        <div class="col-md-4 ">
            <input type="text" style="width:100%">
            <br>
            <label for="">First Name</label>
        </div>
        <div class="col-md-4 ">
            <input type="text" style="width:100%">
            <br>
            <label for="">Middle Name</label>
        </div>
        <div class="col-md-4 ">
            <input type="text" style="width:100%">
            <br>
            <label for="">Last Name</label>
        </div>
        <div class="col-md-6 mt-4">
            <label for="">Student Number</label>
            <br>
            <input type="text" style="width:100%">
            <label for="">e.g 1110042</label>
        </div>
        <div class="col-md-6 mt-4">
            <label for="">Year Level</label>
            <br>
            <input type="Please Select" value="Please Select" style="width:100%">
            <label for="">for incoming A.Y.'12-13'</label>
        </div>

        <div class="col-md-6 mt-4">
            <label for="">Degree Program</label>
            <br>
            <input type="text " value="Please Select" style="width:100%">
        </div>
        <div class="col-md-6 mt-4">
            <label for="">Email</label>
            <br>
            <input type="text" value="acmecity@gmail.com" style="width:100%">
            <label for="">acmecity@gmail.com</label>
        </div>
        <div class="col-md-6 mt-4">
            <label for="">Phone Number</label>
            <br>
            <input type="text" value="000-000-0000" style="width:100%">
        </div>
        <div class="col-md-6 mt-4">
            <label for="">Network Provider</label>
            <br>
            <input type="text" value="Please Select" style="width:100%">
        </div>
    </div>
    <!-- BIRTH DATE -->
    <div class="row mt-2">
        <h4>Birth Date</h4>
        <div class="col-md-4 ">
            <input type="text" style="width:100%">
            <br>
            <label for="">Month</label>
        </div>
        <div class="col-md-4 ">
            <input type="text" style="width:100%">
            <br>
            <label for="">Day</label>
        </div>
        <div class="col-md-4">
            <input type="text" style="width:100%">
            <br>
            <label for="">Year</label>
        </div>
    </div>
    <!-- PERMANENT ADDRESS -->
    <div class="row">
        <h4>Permanent Address</h4>
        <div class="col-md-12 mt-2">
            <input type="text" style="width:100%" style="width:100%">
            <br>
            <label for="">Street Address</label>
        </div>
        <div class="col-md-12 mt-2">
            <input type="text" style="width:100%" style="width:100%">
            <br>
            <label for="">Street Address Live 2</label>
        </div>
        <div class="col-md-6 mt-4">
            <input type="text" style="width:100%">
            <br>
            <label for="">City</label>
        </div>
        <div class="col-md-6 mt-4">
            <input type="text" style="width:100%">
            <br>
            <label for="">state</label>
        </div>
        <div class="col-md-6 mt-4">
            <input type="text" style="width:100%">
            <br>
            <label for="">Postal/Zip Code</label>
        </div>
        <div class="col-md-6 mt-4">
            <input type="text" value="India" style="width:100%">
            <br>
            <label for="">Country</label>
        </div>
    </div>
    <!-- EMERGENCY CONTACT -->
    <div class="row">
        <div class="col-md-6">
            <h5>Emergency Contact</h5>
        </div>
        <div class="col-md-6">
            <h5>Relationship</h5>
        </div>
        <div class="col-md-3">
            <input type="text" style="width:100%">
            <br>
            <label for="">First Name</label>
        </div>
        <div class="col-md-3">
            <input type="text" style="width:100%">
            <br>
            <label for="">Last Name</label>
        </div>
        <div class="col-md-6">
            <input type="text" style="width:100%">
            <br>
            <label for="">ex;Father,Mother,etc.</label>
        </div>
    </div>

    <!-- PHONE NUMBER -->
    <div class="row">
        <h4>Phone Number of Person to Contact in Case of Emergency</h4>
        <div class="col-md-6 mt-2 ">
            <input type="text" value="000-000-0000" style="width:100%">
            <br>
            <label for="">Please enter a valid phone number</label>
        </div>
    </div>
    <!-- EMAIL -->
    <div class="row">
        <h4>Email of Person to Contact in Case of Emergency</h4>
        <div class="col-md-6 mt-2 ">
            <input type="text" style="width:100%">
            <br>
            <label for="">giuhj@gmail</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-5">
            <span class="Academic">Academic Background</span>
        </div>
    </div>
    <!-- HIGH SCHOOL NAME -->
    <div class="row mt-5">
        <h4>High School Name</h4>
        <div class="col-md-6 mt-2 ">
            <input type="text" style="width:100%">
        </div>
    </div>
    <!-- CURRICULUM VITAE -->
    <div class="row ">
        <div class="col-md-12 mt-5 fcls">
            <input type="file" align-items="center">
        </div>
    </div>
    <!-- sports -->
    <div class="row mt-5">
        <h3>Sports</h3>
        <div class="col-md-6">
            <input type="checkbox">
            <label for="vehicle1">Badminton</label><br>
            <input type="checkbox">
            <label for="vehicle1">Swimming</label><br>
            <input type="checkbox">
            <label for="vehicle1">Volleyball</label><br>
        </div>
        <div class="col-md-6">
            <input type="checkbox">
            <label for="vehicle1">Bowling</label><br>
            <input type="checkbox">
            <label for="vehicle1">Chess</label><br>
            <input type="checkbox">
            <label for="vehicle1">Soltball</label><br>
        </div>
    </div>
    <!-- Skills/Talents -->
    <div class="row mt-5">
        <h3>Skills/Talents</h3>
        <div class="col-md-6">
            <input type="checkbox">
            <label for="vehicle1">Singing</label><br>
            <input type="checkbox">
            <label for="vehicle1">Arts/Crafts</label><br>
            <input type="checkbox">
            <label for="vehicle1">Drawing</label><br>
        </div>
        <div class="col-md-6">
            <input type="checkbox">
            <label for="vehicle1">Dancing</label><br>
            <input type="checkbox">
            <label for="vehicle1">Photography</label><br>
            <input type="checkbox">
            <label for="vehicle1">Acting</label><br>
        </div>
    </div>
    <!-- income -->
    <div class="row mt-5">
        <h4>Estimate Your Family Monthly Income</h4>
        <div class="col-md-6">
            <input type="text" value="Please Select" style="width:100%">
        </div>
    </div>
    <!-- choice -->
    <div class="row mt-5">
        <h4>What course is your first choice in the university?</h4>
        <div class="col-md-6">
            <input type="text" style="width:100%">
        </div>
    </div>
    <!-- plan -->
    <div class="row mt-5">
        <h4>What is yourplan after college?</h4>
        <div class="col-md-6">
            <input type="text" value="Please Select" style="width:100%">
        </div>
    </div>
    <!-- ratio -->
    <div class="row mt-5">
        <h4>Do you have any scholarship?</h4>
        <div class="col-md-4 mt-2">
            <input type="radio">
            <label for="">Yes</label>
        </div>
        <div class="col-md-8 mt-2">
            <input type="radio">
            <label for="">No</label>
        </div>
    </div>
    <div class="row mt-5">
        <h4>Do you plan to shift to another course?</h4>
        <div class="col-md-4 mt-2">
            <input type="radio">
            <label for="">Yes</label>
        </div>
        <div class="col-md-8 mt-2">
            <input type="radio">
            <label for="">No</label>
        </div>
    </div>
    <!-- submit -->
    <div class="row mt-5 submit">
        <div class="col-md-12">
            <input type="submit" value="Submit">
        </div>
    </div>
</div>