.first2{
    text-align: center;
    color: #232123;
    margin-top: 5%;    
}
.first1{
    text-align: center;
    color:white;
}
.head{
    // background-color: #fc038c7d; 
    background-image: linear-gradient(pink, #4FFFB0);
    font-size: 150%;
    border-radius: 5%;
}
.formstyle{
    background-color: white;
    border-radius: 10px;
    margin-bottom: 5%;
}
.one{
   color: white;
}
.color{
    color: #232123;
}
input{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove ;
    width: 95%;
    padding-top: 0%;
}
.bcls{
    margin-bottom: 2%;
}