<div class="row two">

    <div class="col-md-2"></div>
    <div class="col-md-8 mt-5">
        <h1 class="first2">Contact Us</h1>
        <p class="first2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Ratione facilis at voluptate provident voluptas,exercitationem nostrum iste excepturi est ipsam
            voluptatibus repellendus vel et tenetur consequatur cupiditate dicta quisquam rem!
        </p>
        <div class="row mt-4">
            <div class="col-md-6 one">
                <div class="row">
                    <div class="col-md-1">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-11">
                        <h4 class="color">Address</h4>
                        <p>4671Sugar Camp Road,Owatanna,Minnesota,55060.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-11">
                        <h4 class="color">Phone</h4>
                        <p>507-475-6094</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-11">
                        <h4 class="color">Email</h4>
                        <p>werb67907@temparary-mail.net</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <form>
                    <div class="formstyle p-4">
                        <h4 class="mb-3">Send Message</h4>
                        <label for="First Name">First Name</label>
                        <br>
                        <input type="text" value="">
                        <br>
                        <label for="Email">Email</label>
                        <br>
                        <input type="text" value="">
                        <br>
                        <label for="Type your Message">Type your Message</label>
                        <br>
                        <input type="text" value="">
                        <br>
                        <button type="button" class="btn btn-info mt-4">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
