<div class="row two">

    <div class="col-md-2"></div>
    <div class="col-md-8 mt-5 head">
        <h1 class="first2">Contact Us</h1>
        <p class="first1">
            AS Iam the fresher,Ability to work with Html,Css Bootstrap,Typescript,
            JavaScript,Angular.Can work well under pressure and make the best
            of any situation.passionate individual with great interpersonal and
            communication skill.
        </p>
        <div class="row mt-4">
            <div class="col-md-6 one">
                <div class="row">
                    <div class="col-md-1">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-11">
                        <h4 class="color">Address</h4>
                        <p>Ekkatuthangal,Chennai.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-11">
                        <h4 class="color">Phone</h4>
                        <p>978-695-3264</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-11">
                        <h4 class="color">Email</h4>
                        <p>jobithaantonyraj@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <form>
                    <div class="formstyle p-4">
                        <h4 class="mb-3">Send Message:</h4>
                        <label for="First Name">First Name</label>
                        <br>
                        <input type="text" value="">
                        <br>
                        <label for="Email">Email</label>
                        <br>
                        <input type="text" value="">
                        <br>
                        <label for="Type your Message">Type your Message</label>
                        <br>
                        <input type="text" value="">
                        <br>
                        <div class="bcls">
                            <button type="button" class="btn btn-info mt-4">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>