.first{
    margin-top: 10%;
}
.head{
    // background-color: #fc038c7d;
    background-image: linear-gradient(pink, #4FFFB0);
    height: 100%;
    width: 100%;
    margin-top:10%;
    border-radius: 6%;
}
.second{
    margin-top: 10%;
    font-size: 125%;
    color: white;
}
.bcolor{
    background-color:#03A9F4;
    margin-top: 5%;
}
.first1{
    margin-left: 8%;
    margin-top: 10%;
}