<!-- <div class="row first">
    <div class="col-md-5">
       <div class="one">
        <i class="bi bi-filter-left">FlexStart</i>
       </div>
     </div>
    <div class="col-md-7">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="home">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="home">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="home">Profolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="home">Team</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="home">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="home">Drop Down 
                    <select> 
                        <option value="1"></option>
                        <option value="1"></option>
                        <option value="1"></option>
                        <option value="1"></option>
                    </select>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="home">Contact</a>
            </li>
            <button class="blue">Get Started</button>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 two"> 
            <h1>We offers morden solutions for growing your business.</h1>
            <h6>We are team of talented designers making websites
                 with Bootsrap.</h6>
           <button class="blue">Get Started</button>
        </div> 
        <div class="col-md-4 mt-5"> 
        <img src="assets/software.png" alt="picture not available" height="500px" width="500px">
        </div> 
        <div class="col-md-2"></div>
    </div>
</div> -->
<div class="row">
    <div class="col-md-2"></div>
     <div class="col-md-8">
        <div class="row head">
            <div class="col-md-1"></div>
            <div class="col-md-5 first">
                <h2>Hello,my name is Jobitha</h2>
                <h2>I'am a web Developer</h2>
                <div class="second">
                    <p>AS Iam the fresher,Ability to work with Html,Css Bootstrap,Typescript,
                        JavaScript,Angular.Can work well under pressure and make the best
                        of any situation.passionate individual with great interpersonal and
                        communication skill.</p>
                </div>
                <button type="" class="bcolor">More About me</button>
            </div>
            <div class="col-md-5 first1">
                <img src="assets/profile.png" alt="picture not available" height="200px" width="200px">
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="col-md-2"></div>
</div>