<div class="row ">
    <div class="col-md-1"></div>
    <div class="col-md-10 head">
        <div class="row imgCls">
        <div class="col-md-3 ">
            <img src="assets/profile.png" alt="picture not available" height="200px" width="200px">
        </div> 
        <div class="col-md-9 mt-3">
            <h4>Jobitha</h4>
            <p>Web Developer</p>
            <div class="row mb-2">
                <div class="col-md-3">
                    <h6>Martial Status:
                        <span class="status">Single</span>
                    </h6>
                </div>
                <div class="col-md-3">
                    <h6>DOB:
                        <span class="status">05/05/2002</span>
                    </h6>
                </div>

            </div>

            <div class="row">
                <div class="col-md-5">
                    <p> <i class="fa fa-book mr-2" aria-hidden="true"></i> Studied at Alagappa University</p>
                </div>
                <div class="col-md-7">
                    <p><i class="fa fa-calendar mr-5" aria-hidden="true"></i> Available</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <p> <i class="fa fa-briefcase mr-2" aria-hidden="true"></i> Fresher</p>
                </div>
                <div class="col-md-7">
                    <p> <i class="fa fa-map-marker mr-2" aria-hidden="true"></i> Chennai,Tamil Nadu,India</p>
                </div>
            </div>
            <!-- Discription part -->
            <h4>Discription</h4>
            <p> Iam looking to begin my carrier as a software professional in
                an reputed Organization, wherein I can effectively utilize my academic
                and soft skills for the growth of my carrier and the success of the
                organization.</p>

            <!-- skills part -->
            <h4>Skills</h4>
            <div class="mb-3">
                <span class="skills">Html</span>
                <span class="skills">Css</span>
                <span class="skills">Bootstrap</span>
                <span class="skills">JavaScript</span>
                <span class="skills">TypeScript</span>
                <span class="skills">Angular</span>
            </div>

            <!-- Projects -->
            <h4>Projects</h4>
            <h6 class="mt-3">Plant Care Application</h6>
            <p class="mb-0">Lerom ipsum is simple dummy text of the printing
                and typesetting industry.
            </p>
            <a href="">www.plantcare.com</a>
            <h6 class="mt-3">Plant Care Application</h6>
            <p class="mb-0">Lerom ipsum is simple dummy text of the printing
                and typesetting industry.
            </p>
            <a href="">www.plantcare.com</a>
            <h6 class="mt-3">Plant Care Application</h6>
            <p class="mb-0">Lerom ipsum is simple dummy text of the printing
                and typesetting industry.
            </p>
            <a href="">www.plantcare.com</a>

        </div>
    </div>
     </div>
    <div class="col-md-1"></div>
</div>