.skills{
    background-color:lightgrey;
    width: 10px;
    padding: 2px 6px;
    margin: 5px;
    border-radius: 4px;
};
.status{
    font-size: 13px;
    font-weight: 400;
};
i{
    color: skyblue;
};
img{
    border-radius: 50%;
};
