<div class="row">
    <div class="col-md-2">
        <img src="../../../assets/profile.jpg" alt="picture not available" height="200px" width="200px">
    </div>
    <div class="col-md-10 mt-3">
        <h3>Albert Thomson</h3>
        <p>Ux Designer @ Infosys</p>
        <div class="row mb-2">
            <div class="col-md-3">
                <h6>Martial Status:
                    <span class="status">Single</span>
                </h6>
            </div>
            <div class="col-md-3">
                <h6>DOB:
                    <span class="status">08/08/1997</span>
                </h6>
            </div>

        </div>

        <div class="row">
            <div class="col-md-5">
                <p> <i class="fa fa-book mr-2" aria-hidden="true"></i> Stuide at Sharathiar Univercity</p>
            </div>
            <div class="col-md-7">
                <p><i class="fa fa-calendar mr-2" aria-hidden="true"></i> Available</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <p> <i class="fa fa-briefcase mr-2" aria-hidden="true"></i> 6 years of professional experience</p>
            </div>
            <div class="col-md-7">
                <p> <i class="fa fa-map-marker mr-2" aria-hidden="true"></i> Chennai,Tamil Nadu,India</p>
            </div>
        </div>
        <!-- Discription part -->
        <h4>Discription</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Assumenda magnam, modi ipsa dolor saepe distinctio corrupti dignissimos
            nemo odit magni dolore error temporibus deleniti,
            rem praesentium maiores veritatis ab harum!</p>
        <h4>Certifications</h4>
        <h6>Graphic design Certification</h6>
        <p>Issued on Dec2021</p>

        <!-- skills part -->
        <h4>Skills</h4>
        <div class="mb-3">
            <span class="skills">User research</span>
            <span class="skills">UI design</span>
            <span class="skills">User persona</span>
            <span class="skills">Wireframing</span>
            <span class="skills">Graphic design</span>
            <span class="skills">Adobe XD</span>
            <span class="skills">Figma</span>
            <span class="skills">Photoshop</span>
            <span class="skills">Branding</span>
            <span class="skills">Illustrator</span>
        </div>

        <!-- Projects -->
        <h4>Projects</h4>
        <h6 class="mt-3">Plant Care Application</h6>
        <p class="mb-0">Lerom ipsum is simple dummy text of the printing
            and typesetting industry.
        </p>
        <a href="">www.plantcare.com</a>
        <h6 class="mt-3">Plant Care Application</h6>
        <p class="mb-0">Lerom ipsum is simple dummy text of the printing
            and typesetting industry.
        </p>
        <a href="">www.plantcare.com</a>
        <h6 class="mt-3">Plant Care Application</h6>
        <p class="mb-0">Lerom ipsum is simple dummy text of the printing
            and typesetting industry.
        </p>
        <a href="">www.plantcare.com</a>

    </div>

</div>