<!-- head -->
<div class="row">
    <div class="col-md-12 picture">
        <img src="../../../assets/profile.png" alt="picture not available" height="200px" width="200px">
    </div><div class="col-md-12 head">
        <h4>A.Jobitha</h4>
        <h5>Student,Alagappa University,Karaikudi</h5>
        <p>As i am the fresher Ability, to work Html,Css,Bootstrap,JavaScript,Angular
            TypeScript. Can work well under pressure and make the best of any situation 
            pasionate individual with great interpersonal and communication skill.
        </p>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <p>Here's how your profile is performing</p>
                <p>Recruiter actions</p>
            </div>
        </div>
    </div>
</div>